@import url("https://fonts.googleapis.com/css2?family=Marvel:wght@700&family=Montserrat:wght@100;400;500&display=swap");

:root {
  --darkgrey: #3a3a3a;
  --bluegrey: #c3d0d9;
  --greenish: #d0d9c3;
}

body {
  background-color: var(--darkgrey);
}

header {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 40px;
}
nav {
  width: 100%;
  display: flex;
  align-items: center;
}

nav a.logo {
  font-size: 70px;
  color: var(--bluegrey);
  font-family: Marvel;
  text-decoration: none;
  font-weight: 700;
  margin-right: auto;
}

nav ul {
  display: flex;
}

nav ul li {
  margin-left: 80px;
}

nav ul li a {
  text-decoration: none;
  font-family: Montserrat;
  font-size: 26px;
  color: var(--bluegrey);
}

nav ul li a:hover {
  color: var(--greenish);
}

nav ul li::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 73px;
  height: 3px;
  margin-top: 15px;
  background-color: var(--darkgrey);
  transition: all 300ms;
}
nav ul li:hover::after {
  background-color: var(--greenish);
  transition: all 300ms;
}

main {
  width: 90%;
  min-height: 100px;
  max-width: 1200px;

  margin: 0 auto;
}

section p {
  width: 50%;
  font-size: 25px;
  color: var(--bluegrey);
  font-family: Montserrat;
  font-size: 26px;
  text-align: center;
  line-height: 38px;
}
aside {
  display: flex;
  justify-content: space-between;
}

aside article {
  width: calc(35% - 70px);
  background-color: var(--greenish);
  display: flex;
  align-items: center;
}

footer {
  background-color: var(--bluegrey);
  min-height: 100px;
}
